Repository libocca/occa, pull requests merged in 2020-06, with the labels that each got.

#354 [Preprocessor] Adds OKL_KERNEL_HASH define to help debug running kernels
  include/occa/lang/preprocessor.hpp
  src/lang/preprocessor.cpp
  tests/src/lang/preprocessor.cpp
Labels: feature, parser

#358 [Parser] tokenContext auto-removes certain tokens
  include/occa/c/types.h
  include/occa/c/types.hpp
  include/occa/lang/parser.hpp
  include/occa/lang/tokenContext.hpp
  src/c/types.cpp
  src/lang/parser.cpp
  src/lang/statementPeeker.cpp
  src/lang/tokenContext.cpp
  tests/files/addVectors.okl
  tests/src/io/lock.cpp
  tests/src/lang/tokenContext.cpp
Labels: bug, parser

#357 [CMake] Build system improvements
  CMakeLists.txt
  bin/CMakeLists.txt
  cmake/CUDA.cmake
  cmake/FindHIP.cmake
  cmake/HIP.cmake
  cmake/MPI.cmake
  cmake/Metal.cmake
  cmake/OS.cmake
  cmake/OpenCL.cmake
  cmake/OpenMP.cmake
  cmake/Summary.cmake
  examples/CMakeLists.txt
  examples/cpp/10_mpi/CMakeLists.txt
  examples/cpp/10_mpi/main.cpp
  include/occa/tools/env.hpp
  scripts/compiledDefinesTemplate.hpp.in
  src/CMakeLists.txt
  src/modes/cuda/device.cpp
  src/modes/serial/device.cpp
  src/tools/env.cpp
  tests/CMakeLists.txt
  tests/src/CMakeLists.txt
Labels: feature

#361 [CI] Adds error flags to CI build
  .github/workflows/build.yml
  include/occa/api/metal/buffer.hpp
  include/occa/api/metal/commandQueue.hpp
  include/occa/api/metal/device.hpp
  include/occa/api/metal/event.hpp
  include/occa/api/metal/function.hpp
  include/occa/lang/file.hpp
  include/occa/lang/primitive.hpp
  include/occa/tools/env.hpp
  include/occa/tools/properties.hpp
  scripts/Makefile
  src/api/metal/buffer.mm
  src/api/metal/commandQueue.mm
  src/api/metal/device.mm
  src/api/metal/event.mm
  src/api/metal/function.mm
  src/api/metal/polyfill.cpp
  src/lang/file.cpp
  src/lang/tokenContext.cpp
  src/modes/cuda/device.cpp
  src/modes/cuda/kernel.cpp
  src/modes/cuda/memory.cpp
  src/modes/cuda/utils.cpp
  src/modes/opencl/utils.cpp
  src/tools/env.cpp
  src/tools/properties.cpp
  src/tools/sys.cpp
  tests/files/addVectors.okl
  tests/files/argKernel.okl
  tests/run_tests
Labels: build

#362 [Lang] Adds stream cache clearning to fix #311
  include/occa/lang/preprocessor.hpp
  include/occa/lang/processingStages.hpp
  include/occa/lang/stream.hpp
  include/occa/lang/stream.tpp
  src/lang/parser.cpp
  src/lang/preprocessor.cpp
  src/lang/processingStages.cpp
Labels: bug, parser

#359 [HIP] Support for new (ROCm 3.5+) HIP compiler and runtime
  cmake/FindHIP.cmake
  include/occa/scripts/shellTools.sh
  scripts/Makefile
  src/modes/hip/device.cpp
Labels: HIP, feature
